@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Yılbaşı Partisine Hoş Geldiniz!</h1>
    <p>Harika bir geceye hazır mısın? Hemen yerini ayırt.</p>
    
    <a class="btn btn-primary" asp-controller="Party" asp-action="Register">
        Hemen Kaydol 🥳
    </a>
</div>