@model IEnumerable<deneme.Models.Guest>

<h2>Partiye Katılanlar</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Telefon</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var guest in Model)
        {
            <tr>
                <td>@guest.Name</td>
                <td>@guest.Phone</td>
            </tr>
        }
    </tbody>
</table>