@model deneme.Models.Guest



<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div>
        <label>İsim:</label>
        <input type="text" asp-for="Name" /> <span asp-validation-for="Name" class="text-danger"></span> 
    </div>

    <div>
        <label>Telefon:</label>
        <input type="text" asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div>
        <label>Geliyor musun?:</label>
        <select asp-for="WillAttend">
            <option value="">Seçiniz...</option>
            <option value="true">Evet, geliyorum! 🥳</option>
            <option value="false">Maalesef gelemiyorum 😞</option>
        </select>
    </div>

    <button type="submit">Gönder</button>


</form>