@{
    ViewData["Title"] = "Teşekkürler";
}

<h2>Parti kaydınız başarıyla alındı!</h2>
<p>Katılım durumunuzu bildirdiğiniz için teşekkür ederiz. Görüşmek üzere!</p>

<a asp-action="Index" asp-controller="Home">Ana Sayfaya Dön</a>